<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__STATIC__/admin/css/default.css" type="text/css" />
    <link rel="stylesheet" href="__STATIC__/hui_admin/lib/ueditor/1.4.3/third-party/SyntaxHighlighter/shCoreDefault.css" type="text/css" />
    <script type="text/javascript" src="__STATIC__/hui_admin/lib/ueditor/1.4.3/third-party/SyntaxHighlighter/shCore.js"></script>
    <script> SyntaxHighlighter.all()</script>
</head>
<body>
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        {$content}
    </div>
</div>
</body>
</html>
